body {
    
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "Comic Sans MS";
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.gridRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block {
    display: flex;
    border: 1px solid grey;
}